<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>enemyList</key>
		<dict>
			<key>smallEnemies</key>
			<integer>0</integer>
			<key>mediumEnemies</key>
			<integer>3</integer>
			<key>largeEnemies</key>
			<integer>3</integer>
			<key>extraLargeEnemies</key>
			<integer>0</integer>
		</dict>
		<key>enemyFrequency</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>enemyList</key>
		<dict>
			<key>smallEnemies</key>
			<integer>0</integer>
			<key>mediumEnemies</key>
			<integer>3</integer>
			<key>largeEnemies</key>
			<integer>3</integer>
			<key>extraLargeEnemies</key>
			<integer>0</integer>
		</dict>
		<key>enemyFrequency</key>
		<real>0.5</real>
	</dict>
	<dict>
		<key>enemyList</key>
		<dict>
			<key>smallEnemies</key>
			<integer>0</integer>
			<key>mediumEnemies</key>
			<integer>3</integer>
			<key>largeEnemies</key>
			<integer>3</integer>
			<key>extraLargeEnemies</key>
			<integer>5</integer>
		</dict>
		<key>enemyFrequency</key>
		<integer>5</integer>
	</dict>
</array>
</plist>
